@font-face {
    font-family: 'Aaargh';
    src: url('fonts/Aaargh.eot');
    src: url('fonts/Aaargh.eot') format('embedded-opentype'),
         url('fonts/Aaargh.woff2') format('woff2'),
         url('fonts/Aaargh.woff') format('woff'),
         url('fonts/Aaargh.ttf') format('truetype'),
         url('fonts/Aaargh.svg#Aaargh') format('svg');
}
